<section class="container">
  <h2>Reporting the App</h2>
<p>Thank you for giving me this apportiunity to perform this helpful test. I hoped everything could go smoothly as planed; however, some coding obstecles got on my way</p>
<h2>The Main Idea</h2>
<p>I planned my app by constructing a set of input fields that will be pushed to an object then I use ngFor directive to display the enterred data in al list of items each item consists of two or more divisions that will be built by looping on the object.</p>
<h2>What went wrong:</h2>
<p>I struggled to combine the inputs different values into a single object, but I couldn't, I only was able to push only the ToDo title value to a single array that was rendered in the end.</p>
<p>One of the good things I learned is how to build a delete function to be binded with the ToDo item and deletes it once the delete icon is clicked.</p>
</section>