/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* My General format */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /*define the body font size in pexiles once and then use em size for costumizing font sizes in your website*/
    font-weight: 300;
    box-sizing: border-box;
    transition: all 0.5;
}

/* text main format */

h1{margin: 0 0 1.5em 0; font-size: 2.8em; font-weight: 700;}
label, h2{margin: 0.5em 0 0.5em 0; font-size: 1.6em; font-weight: 700; line-height: 1.1em;}

p{margin: 0 0 1em 0;}
